body {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-top: 8em;
    background-color: #eef2fe; 
  }
.one {
    display: flex;
    flex-direction: column;  
    align-items: center;
    background-color: white;
    width: 40em;
    height: 40em;
    border-radius: 25px;
    color: #333333;
}
h1 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 3em;
    margin-left: 1em;
    color: #333333;
}
p {
    font-family: 'Open Sans', sans-serif;
}
#todoInput {
    -webkit-appearance: none;
    outline: none;
    margin-top: 1.5em;
    padding: 0.8em;
    width: 25em;
    border: 0.1px solid #d1cdcd;
    border-radius: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

#todoInput:hover {
    cursor: pointer;
    color:  #333333;
}

.task {
    margin-top: 0.5em;
    padding: 0.5em;
    width: 15em;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
.task:hover {
    background: rgba(0, 0, 0, .01);
    cursor: pointer;
    color: #ada6a6;
}
.task:hover span {
    opacity: 1;

}
.done {
    text-decoration: line-through;
    color: #333333;
}

li span {
    float: right;
    color: #c0392b;
    transition: all 0.3s;
    opacity: 0;
}

li span:hover {
    color: #e74c3c;
}

svg {
    margin-top: 4em;
}
