body {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-top: 8em;
  }

h1 {
    margin-left: 1em;
}
#todoInput {
    padding: 0.8em;
    width: 25em;
}
.task {
    padding: 0.5em;
}
.task:hover {
    background: rgba (0, 0, 0, .02);
    cursor: pointer;
}
.task:hover span {
    opacity: 1;
}
.done {
    text-decoration: line-through;
    color: black
}

li span {
    float: right;
    color: #c0392b;
    transition: all 0.3s;
    opacity: 0;
}

li span:hover {
    color: #e74c3c;

